/* @import url('https://fonts.googleapis.com/css2?family=Arapey:ital,wght@0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.heading {
  font-weight: 400;
  color: #1E1E20;
  font-family: 'Arapey', serif;
  font-size: 22px;
}
.text{
    font-family:'Roboto', sans-serif;
    font-size:18px;
} */